.App {
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bolder;
  color: black;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10px;
}

.App-header {
  font-family: sans-serif;
  font-style: bold;
  font-weight: bolder;
  color: white;

}

.App-intro {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bolder;
    padding: 7px 15px;
    color: white;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.my-blue-class {
  text-align: left;
  margin-bottom: 24px;
  color: inherit;
  background-color: #2d4373;
  font-family: sans-serif;
  font-style: bold;
  font-weight: bolder;
  color: white;

}

.navbar-brand {
    float: center;
    height: 60px;
    padding: 30px 1px;
    font-size: 62px;
    line-height: 0px;
    font-family: sans-serif;
    font-weight: bolder;

}

.navbar-brand {
    float: center;
    height: 60px;
    padding: 30px 1px;
    font-size: 62px;
    line-height: 0px;
    font-family: sans-serif;
    font-weight: bolder;

}

.resizing {
    float: center;
    height: 60px;
    padding: 30px 1px;
    font-size: 30px;
    line-height: 0px;
    font-family: sans-serif;


    }

.grouping {
    float: center;
    padding: 30px 1px;
    font-size: 45px;
    line-height: 0px;
    font-family: sans-serif;
    font-weight: bolder;

}

.resizedTextbox {
  width: 100px;
  height: 20px;
  padding: 1px;
}

.wrapperleft{
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 90%;
  left: 50%;

}

.wrapperright{
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 90%;
  right: 50%;

}
